body {
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #FFFFFF;
    background-color: #2D3D4E;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

article {
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border-radius: .3rem;
    min-height: 10rem;
    width: 20rem;
    box-shadow: 0rem .5rem 13px 2px rgba(0,0,0,0.75);
}

li {
    list-style-type: lower-alpha;
}

input:checked + label {
    text-decoration: underline;
}

button {
    margin: .25rem;
}

footer {
    display: flex;
    justify-content: center;
}

footer button:nth-child(2) {
    background-color: green;
}

footer button:nth-child(3) {
    background-color: red;
}

.correct + label {
    color: rgba(0,255,0,0.5);
}

.details {
    width: 3.3rem;
}

button {
    border-radius: .3rem;
    font-size: 1.15rem;
    padding: .5rem;
    box-shadow: -1px 1px 13px 2px rgba(0,0,0,0.75);
}

button:active {
    transition: transform 34ms;
    transform: translateY(.1rem);
}

button:hover {
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}