section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

article {
    height: 20rem;
    width: 30rem;
}

li {
    list-style-type: none;
}

input:checked + label {
    color: lightblue;
}

button {
    margin: .25rem;
}

footer button:nth-child(2) {
    background-color: green;
}

footer button:nth-child(3) {
    background-color: red;
}